<html>
  <head>
    <link rel='stylesheet'   type='text/css'   href='/stylesheets/app.css'  />
    </head>
    <body>

<nav>
      <a id='home-button' href='/'>HOME</a>

      <ol>
      <li><a href='/cp'>cp</a></li>
      <li><a href='/mv'>mv</a></li>
      <li><a href='/cd'>cd</a></li>
      <li><a href='/search'>search</a></li>
      </ol>
</nav>


<div class='manpic'>
<img src='/images/manpic.jpg' alt= 'Man picture' />
</div>


    <%= yield %>
    </body>
  </html>
