<h1>Search</h1>

<h3>What are you looking for?</h3>

<form method='POST' action='/search'>
  <label>Search</label>
  <input type='text' name='users_search' required />
  <input type='submit' />
</form>
